<div class="container" style="display:flex; background-color:white; height:500px; padding:50px; justify-content: space-evenly; margin-top:30px; border-radius:4px;">
    <div class="row">
        <div class="col-sm">
        <h3 style="text-align: center;">House 1 </h3>
        <img src="https://i.imgur.com/ffja9bq.jpg" style="height:150px;width:150px;margin:20px;" class="rounded mx-auto d-block">
        <ul>
        <li>Location: Strathfield</li>
        <li>Rent: $500/wk</li>
        <li>Commute time to work: 15s mins</li>
        <li>Living costs: $40/wk Opal + included utilities</li>
        <li>Total: <b>You will be better off by 15 mins but rent is more expensive.</b> </li>
        </ul>
        </div>
        <div class="col-sm">
        <h3 style="text-align: center;">House 2</h3>
        <img src="https://i.imgur.com/okrBNE9.jpg" style="height:150px;width:150px;margin:20px;" class="rounded mx-auto d-block">
        <ul>
        <li>Location: Parramatta</li>
        <li>Rent: $300/wk</li>
        <li>Commute time to work: 30 mins</li>
        <li>Living costs: $60.50/wk Opal + included utilities</li>
        <li>Total: <b>Rent is less expensive but commute time is more expensive.</b> </li>
        </ul>
        </div>
    </div>
</div>